{% extends 'core/base.html' %}
{%load crispy_forms_tags %}

{% block title %}Become Farmer{% endblock title %}

{% block content %}
    <h1 class="title">Become A Farmer</h1>

    <form method="post" action=".">
        {% csrf_token %}

        {{ form|crispy }}

        <div class="field">
            <div class="control">
                <button class="button is-dark is-uppercase"><a href="{% url 'become_farmer' %}">Sign up</a></button>
            </div>
        </div>
    </form>

    <hr>

    <h2 class="subtitle">Already have an account?</h2>
    <a href="{% url 'login' %}">Log in</a>
{% endblock content %}